.select-picker {
  position: relative;
}

.select-picker__input {
  width: calc(100% - 20px);
  padding: 10px;
  position: relative;

  border: 3px solid #7e57c2;
  border-radius: 20px;
  outline: 0;
  z-index: 2;
}

.select-picker__list {
  position: absolute;
  z-index: 1;
  padding: 0;
  margin: 0 15px;
  width: calc(100% - 30px);

  border: 2px solid #7e57c2;
  border-top: none;
  /*border-bottom-left-radius: 20px;*/
  /*border-bottom-right-radius: 20px;*/
  overflow-y: scroll;
  transition: max-height 400ms ease 0ms, opacity 400ms ease 0ms, transform 300ms ease 0ms;
}

.select-picker__list_shown {
  max-height: 300px;
  opacity: 1;
  transform: translateY(-2px);
}
.select-picker__list_hidden {
  max-height: 0;
  opacity: 0;
  transform: translateY(-30px);
}

.select-picker__list-item {
  list-style: none;
  padding: 15px;

  border-bottom: 1px solid #eee;
  background: #fff;
}

.select-picker__list-item_active {
  background: #d0d0d0;
}


.select-picker__list-item:hover {
  cursor: pointer;
  background: #ddd;
}
